:root {
  /* document colors */
  --text-color1: #022225;
  --text-shadow1: lightblue;
  --primary-color: rgb(17, 51, 61);
  --secondary-color:white;

  /* Image size multipliers     */
  /* for scaling featured image */

  --featured-scale: 2; 
  --grid-image-width: 150px;
  --grid-image-height: 75;
}
  /* Basic defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--text-color1);
  font-family: Helvetica, Arial, sans-serif;
}
    
  /* HEADER AND NAVIGATION BAR STYLES     */
  /* adapted directly from Run-Buddy site */
  /* UA coding bootcamp                   */
  
header {
    padding: 20px 35px;
    background-color:var(--text-color1);
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
    background-image: url("../images/header-cropped.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 2.5em;
    color: --var(--text-color1);
    /* lighter shadow */
    text-shadow: 0 0 10px var(--text-shadow1);
  }
    
  header a {
    text-decoration: none;
    color: var(--text-color1);
  }
  
  header nav {
    margin: 7px 0;
  }
  /* nested nav flexbox */
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    list-style: none; 
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* put a highlight around nav links on hover */
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* end header and nav bar styles  */
  
  /* START HERO STYLES  ************************  */
  /* the background image  overlaps  the same     */
  /* image in header, allowing this to magically  */
  /* scroll up while the header stays in place    */

.hero {
  background-image: url("../images/header-cropped.jpg");
  background-size: cover;
  display: flex; 
  justify-content: flex-end; 
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
}

.hero h2 {
  padding: 3em 6em 1em 3em;
  color: var(--primary-color);
}
  /* end hero styles********** */

  /* ARTICLES ARE FLEXBOX ROWS */

.flexbox-container {
  display:flex;
  width:1000px;
  margin:1.5vw;
  flex-direction:row;
  flex-wrap: wrap;
  align-items: center;
}

.flexbox-container h1 {
  color: var(--text-color1);
  font-size: 2em;
  flex: 1;
  /* text-align: right; */
}

.flexbox-container div {
  flex: 3;
}

img.bio {
  float:left;
  margin:0 10px 10px 0;
  max-width:20%;
  height:auto;
}

/* IMAGE GRID IS SECOND CHILD OF */
/* FLEXBOX "WORK ROW" ************/

.grid-wrapper {
  display:grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1em;
  position: relative;
}

/* ********* GRID IMAGES ********** */
/* Featured site  takes multiple */
/*  Columns and rows */

.featured-site{
  grid-column: 1/ span 2;
  grid-row: 1/ span 2;
}

img.site-img  {
  width: 100%
}

img.featured-site-img {
  width: 100%
}

.featured-site h2{
  position:absolute;
  bottom: 3em;
  opacity: 70%;

}




/* ********* CONTACT INFO STYLES ********** */
.contact-info {
  display: flex;
  flex-wrap: wrap;
  list-style: none; 
  justify-content:space-around;
}

.contact-info li  {
  /* padding: 10px 15px; */
  flex: 2;
  color: var(--text-color1);
  font-weight: bold;
  font-size: 1em;
  text-decoration: underline;
}