:root {
  /* document colors */
  --text-color1:rgb(17, 51, 61);
  --text-shadow1: lightblue;
  --grid-shadow: lightgray;
  --grid-background:white;
  --primary-color: rgb(17, 51, 61);
  --border-color: rgb(17, 51, 61);
  --secondary-color:white;

}
  /* Basic defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: var(--text-color1);
  font-family: Helvetica, Arial, sans-serif;
  position: relative;

}
    
  /* HEADER AND NAVIGATION BAR STYLES     */
  
header {
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    padding: 20px 35px 80px;
    background-color:var(--text-color1);
    position: -webkit-sticky; 
    position: sticky; 
    /* background-image: url("../images/header-cropped.jpg");   */

    background-image: url("../images/header-cropped.jpg");  
    background-size: cover;
    background-attachment: fixed;
    /* background-position: 80%; */
    z-index: 9999;
  }
  
  header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 2.5em;
    color: --var(--text-color1);
    text-shadow: 0 0 10px var(--text-shadow1);
  }
    
  header h2 {
    font-weight: bold;
    font-size: 1.5em;
    color: --var(--text-color1);
    text-shadow: 0 0 10px var(--text-shadow1);
    position:absolute;
    top:75%;
    right:5%
  

  }

  header a {
    text-decoration: none;
    color: var(--text-color1);
  }
  
  header nav {
    margin: .6rem 0;
  }
  /* nested nav flexbox */
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    list-style: none; 
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  /* put a highlight around nav links on hover */
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }
  
  /* end header and nav bar styles  */
  

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
 
.two-edge-shadow {
	-webkit-box-shadow: 6px 8px 6px -6px black;
	   -moz-box-shadow: 6px 8px 6px -6px black;
	        box-shadow: 6px 8px 6px -6px black;
}


  /* ARTICLES ARE FLEXBOX ROWS */

.flexbox-container {
  display:flex;
  margin:1.5rem;
  width:90%;
  flex-flow:row wrap;
  align-items: center;

}

.flexbox-container h1 {
  color: var(--text-color1);
  margin: 1rem;
  margin-right: 2rem;
  font-size: 2em;
  text-align: right;
  flex: 1;
}

.flexbox-container > div {
  flex: 3;
  border-left:2px solid var(--border-color); 
  padding-left:2rem;
}

img.bio {
  float:left;
  margin:0 10px 10px 0;
  max-width:20%;
  height:auto;
}

/* IMAGE GRID IS SECOND CHILD OF */
/* FLEXBOX "WORK ROW" ************/

.grid-wrapper {
  display:grid;
  grid-template-columns: 33% 33% 33%;
  gap: 1em;
  
}

/* GRID IMAGES & HEADERS */
/* Featured site  takes multiple */
/* Columns and rows */

.featured-site{
  grid-column: 1/ span 2;
  grid-row: 1/ span 2;
  position: relative;
  width:100%;
  /* border: 2px solid var(--grid-shadow); */
  /* background-color:var(--grid-background); */
}

.another-site {
  position:relative;
  width: 100%;
  /* border: 2px solid var(--grid-shadow); */
  /* background-color:var(--grid-background); */

}


/* position text over images */
/* feature site styled w larger text */

.featured-site > h2 {
  position:absolute;
  font-size:1.25em;
  font-weight:lighter;
  bottom: 1em;
  width: 100%;
  /* this would be in span if it worked */
  color:white;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

.another-site > h2 {
  position:absolute;
  bottom: 2em;
  width: 100%;
  font-size:smaller;
  color:white;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

.featured-site a {
  color:white;
  text-decoration:none;
}

.another-site a {
  color:white;
  text-decoration:none;
}


img.featured-site-img {
  width: 100%
}

img.site-img  {
  width: 100%
}



/* ********* CONTACT INFO STYLES ********** */
.contact-info {
  display: flex;
  flex-wrap: wrap;
  list-style: none; 
  justify-content:space-around;
}

.contact-info li  {
  /* padding: 10px 15px; */
  flex: 2;
  color: var(--text-color1);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  ;
}